{{ form_start(form) }}
  <div class="row g-3">
    <div class="col-12">{{ form_row(form.titre) }}</div>
    <div class="col-12">{{ form_row(form.contenu) }}</div>
    <div class="col-md-6">{{ form_row(form.typePost) }}</div>
    <div class="col-md-6">{{ form_row(form.visibilite) }}</div>
  </div>
  <div class="mt-4 d-flex gap-2">
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('community_index') }}" class="btn btn-outline-secondary">Retour</a>
  </div>
{{ form_end(form) }}
